

.header {
  padding: 2rem;
  border-bottom: 1px solid antiquewhite;
  a {
    color: #191b22;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    text-decoration: none;
  }
}