
.input-domain {
  margin: 1rem auto;
  text-align: center;
  input {
    border: none;
    outline: none;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    width: 5rem;
    height: 3rem;
    background-color: antiquewhite;
  }
}
