/*
  Public Timelines
 */
.dudu-layout {
  display: flex;
  flex-direction: column;
}
.dudu-conents {
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  background-color: #393f4f;
  margin-bottom: 1rem;
  a {
    color: white;
    &:visited {
      color: white;
    }
    span {
      white-space: normal;
    }
  }
  .dudu-conents-header {
    display: flex;

    img {
      border-radius: 0.5rem;
      width: 5rem;
      height: 5rem;
    }

    .dudu-conents-header-username {
      margin-left: 1rem;
      .dudu-conents-header-at {
        font-size: 0.85rem;
      }
    }
  }
}