@import "../../assets/scss/var.scss";


@mixin WelcomeButton {
  button {
    border-radius: 0.4rem;
    width: 20vw;
    height: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    border: none;
    &:hover {
      background-color: antiquewhite;
    }

    @media (max-width: $mobile) {
      width: 90vw;
    }
  }
}

.welcome-diaplay-name {
  display: flex;
  height:80vh;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.welcome-loading {
  display: flex;
  justify-content: center;
  div {
    border: 3px solid mediumaquamarine;
    border-top-color: darkblue;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
.layout {
  margin: 3rem;

  .welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .welcome-inner {
      display: flex;
      flex-direction: column;
      align-self: center;

      .welcome-inner-title {
        margin: 1rem 0;
      }

      .welcome-login-registered{
        margin: 1rem 0;
        @include WelcomeButton;
      }

      .welcome-explore {
        margin: 1rem 0;
        @include WelcomeButton;
      }
    }

    .welcome-image {
      text-align: center;
      img {
        width: 25rem;
      }
      @media (max-width: $mobile) {
        img {
          width: 50%;
        }
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

}