.created_at {
  margin: 0.5rem 0;
  font-size: 0.75rem;
}

.status-content {
  margin: 0.5rem 0;
}

.account-id {
  margin: 0.5rem 0;
}

.reblog {
  font-size: 0.8rem;
  background-color: antiquewhite;
}