@import "../../assets/scss/var.scss";

.accounts-entity {
  margin: 1rem;
  .accounts-entity-header-image {
    margin: 1rem 0;
    img {
      border-radius: 0.5rem;
      width: 40%;
      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }

  .accounts-entity-content {
    color: #191b22;
    .entity-avatar {
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 0.5rem;
      }
    }
    .accounts-entity-introduction {
      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid salmon;
      border-radius: 0.5rem;
    }
  }
}
