
@import "src/assets/scss/var";

.public-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .goback {
    margin: 1rem;
  }


  @media (max-width: $mobile) {
    flex-direction: column;
  }
}